@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Creepster);
h1 {
    color: #739BD0;
    text-align: center;
    font-family: Creepster, serif;
    font-size: 42px;
}
h3 {
    color: aliceblue;
    text-align: center;
    font-family: Audiowide, serif;
}
.main_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
body {
    background-color: black;
}
audio {
    width: 600px;
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
}
.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}